*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
}

.bell{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: beige;
}

.crear{
    align-items: center;
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    display: flex;
    font-weight: bolder;
    height: 40px;
    justify-content: center;
    margin-left: 10px;
    width: 70px;
}

.explorar{
    align-items: center;
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    display: flex;
    font-weight: bolder;
    height: 40px;
    justify-content: center;
    margin-left: 10px;
    width: 70px;
}

.finder{
    background-color: rgba(233,232,232,255);
    border: 1px solid white;
    border-radius: 40px;
    height: 50px;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.inicio{
    align-items: center;
    background-color: black;
    border-radius: 19px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-weight: bolder;
    height: 40px;
    justify-content: center;
    margin-left: 10px;
    width: 70px;
}

.link{
    display: contents;
    margin-right: 10px;
}

.navbar-pinterest{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 100%;
}

#icon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#notifications{
    display: flex;
    width: 20%;
}

#pinterest-icon{
    display: flex;
    width: 10%;
}

/* Tamaño de pantalla max 768 */

@media screen and (max-width: 768px){
    .container{
        background-color:rgb(211, 122, 7) ;
    }
    h1{
        color: white;
        font-family: 'Gill Sans';
    }
}

/* Tamaño de mobile */

@media screen and (max-width: 425px){
    .container{
        background-color: brown;
    }
    h1{
        color: aquamarine;
        font-family: 'Lucida Sans';
    }
    header{
        flex-direction: column;
    }
    .box{
        width: auto;
        height: 50px;
        flex-grow: 1;
    }
}